<div class="card">
    <p-table [value]="products" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>製造商</th>
          <th>類別</th>
          <th>底價</th>
          <th>售價</th>
          <th style="width: 7rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableRadioButton [value]="product" (click)="setValues(product)"></p-tableRadioButton>
          </td>
          <td>{{product.manufactory}}</td>
          <td>{{product.type}}</td>
          <td>{{product.minPrice}}</td>
          <td>{{product.price}}</td>
          <td>
            <button pButton pRipple type="button" label="刪除" class="p-button-danger"
              (click)="delete(product.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
